@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 91%;
    --foreground: 215 25% 27%;
    --card: 220 14% 40%;
    --card-foreground: 0 0% 100%;
    --popover: 220 14% 40%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 84% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 32% 58%;
    --secondary-foreground: 51 67% 95%;
    --muted: 220 14% 60%;
    --muted-foreground: 220 10% 75%;
    --accent: 220 14% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 35%;
    --input: 220 13% 30%;
    --ring: 240 84% 60%;
    --chart-1: 229 100% 66%;
    --chart-2: 21 32% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 215 25% 27%;
    --foreground: 51 67% 90%;
    --card: 211 13% 32%;
    --card-foreground: 51 67% 90%;
    --popover: 211 13% 32%;
    --popover-foreground: 51 67% 90%;
    --primary: 229 100% 66%;
    --primary-foreground: 215 25% 15%;
    --secondary: 21 32% 58%;
    --secondary-foreground: 51 67% 90%;
    --muted: 215 25% 20%;
    --muted-foreground: 211 13% 67%;
    --accent: 211 13% 40%;
    --accent-foreground: 51 67% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 13% 40%;
    --input: 211 13% 40%;
    --ring: 229 100% 66%;
    --chart-1: 229 100% 66%;
    --chart-2: 21 32% 58%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
